<div style="text-align: center;">
  <h5>Cadastro de Livro</h5>
</div>
  <div style="text-align: center;">
  <form   [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>

    <mat-form-field >
      <label for="titulo">Titulo: </label>
      <input matInput  formControlName="titulo" type="text" required>
    </mat-form-field>
  </div>
    <div>

    <mat-form-field >
      <label for="autor">Autor: </label>
      <input matInput  formControlName="autor" type="text" required>
    </mat-form-field>
  </div>
  <div>

    <mat-form-field >
      <label for="genero">Genero: </label>
      <input matInput  formControlName="genero" type="text" required>
    </mat-form-field>
  </div>
  <div>

    <mat-form-field >
      <label for="paginas">Páginas: </label>
      <input matInput  formControlName="paginas" type="text" required>
    </mat-form-field>
  </div>
  <div style="text-align: center;">
      <input  type="button"  type="submit" value="Salvar"/>
    </div>
  </form>
    <strong>{{message}}</strong>
</div>










